body {
    
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}


.a_li {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: rgb(9, 9, 9);
    text-decoration: none;
    color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #467255;
}

.logo {
    cursor: pointer;
    font-size: 45px;
}

.logo a {
    font-family: "Amaranth", cursive;
    color: whitesmoke;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    margin-left: 60px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    background-color: rgba(161, 235, 162, 0.845);
    padding: 15px;
    border-radius: 5%;
}

.menu-icon {
    display: none; /* Hide the menu icon by default */
    cursor: pointer;
}

.menu-icon__line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: whitesmoke;
    transition: all 0.3s ease-in-out;
}



/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .nav__links {
        display: none; 
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #467255;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .nav__links.show {
        display: flex; 
    }

    .menu-icon {
        display: block; 
    }

    .nav__links li {
        margin-bottom: 25px; 
    }
}

a{
    color: black;
    text-decoration: none;
}


h2 {
    font-size: 24px;
}

h3 {
    text-align: center;
    font-size: 24px;
}



.colour-select div {
    background: #333;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.colour-select {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Verplaats de kleurselectie 10 pixels naar beneden */
}


.colour-select {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Verplaats de kleurselectie 10 pixels naar beneden */
}

.colour-select #red{
    background: red;
    border: 1px solid black;
    margin-left: 5px;
    
  
}
.colour-select #blue{
    background: steelblue;
    border: 1px solid black;

}
.colour-select #white{
    background: white;
    border: 1px solid black;
}



.buyButton {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    margin-top: 40px;
    font-size: 16px; /* Verklein de lettergrootte van de knoppen */
    padding: 8px 16px; /* Verminder de padding van de knoppen */
    cursor: pointer;
    background-color: #467255;
    color: aliceblue;
    border: none;
    transition: none; /* Verwijder eventuele overgangseffecten */
}

.buyButton:hover {
    background-color: rgb(132, 176, 138);
    color: white;
}

.sliderRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sliderWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Hiermee worden de items verdeeld in rijen van minimaal 45% breedte, maar zich aanpassend aan de beschikbare ruimte */
    grid-gap: 20px; /* Ruimte tussen de grid-items */
}

.sliderItem {
    text-align: center;
    margin-bottom: 20px;
}

.sliderImg {
    max-width: 80%;
    height: auto;
    width: 100%; /* Afbeeldingen worden 100% breedte van hun container */
    object-fit: cover; /* Behoudt de aspect ratio en zorgt ervoor dat de afbeelding het hele gebied vult */
}

.sliderTitel {
    font-family: "Quicksand", sans-serif;
    font-size: 26px;
}

.sliderPrice {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.product {
    height: 100vh;
}

.productDetails {
    position: absolute;
    padding: 50px;
}

.productButton {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    margin-top: 40px;
    font-size: 16px; /* Verklein de lettergrootte van de knoppen */
    padding: 8px 16px; /* Verminder de padding van de knoppen */
    cursor: pointer;
    background-color: #467255;
    color: aliceblue;
    border: none;
    transition: none; /* Verwijder eventuele overgangseffecten */
    top: 50%;
    left: 10%;
    font-size: 30px;


}

.productButton:hover {
    background-color: rgb(132, 176, 138);
    color: white
}

.productDesc {
    color: grey;
}

.productImg {
    padding: 50px;
}

@media screen and (max-width: 768px) {
    .sliderItem {
        width: 100%; /* Elk item neemt de volledige breedte van de container in */
        margin-bottom: 20px; /* Voeg wat ruimte toe onder elk item */
    }

    .sliderWrapper {
        display: flex;
        flex-direction: column; /* Verander de richting naar kolom voor kleinere schermen */
        align-items: center; /* Centreer de items in de kolom */
    }

    .sliderItem .sliderImg {
        max-width: 100%; /* Afbeeldingen worden 100% breedte van hun container */
    }
}

@media screen and (max-width: 768px) {
    .productImg {
        max-width: 100%; /* Afbeelding neemt de volledige breedte van de container in */
        height: auto; /* Zorgt ervoor dat de hoogte automatisch wordt aangepast om de ver*/
    }}

/* Responsive aanpassingen alleen voor computerscherm */
@media screen and (min-width: 1024px) {

    h3 {
        font-size: 32px; /* Vergroot de lettergrootte van h3 voor pc */
    }
    
    /* Verhoog de grootte van de button */
    .productButton {
        font-size: 30px; /* Verhoog de lettergrootte van de button met 100px */
    }

    .productImg {
        max-width: calc(100% + 300px); /* Verhoog de max-width met nog eens 300px */
        height: auto; /* Zorg ervoor dat de hoogte automatisch wordt aangepast */
    }
    /* Verhoog de grootte van de Choose your color-sectie */
    .colour-select {
        position: absolute;
        top: calc(50% - 300px); /* Houd de positie in de y-richting hetzelfde */
        left: calc(10% + 770px); /* Verhoog de linkerpositie met 200px */
        
       
    }

    /* Verhoog de grootte van de h1 */
    .productDetails h1 {
        font-size: 36px; /* Verhoog de lettergrootte van h1 met 100px */
    }

    /* Verhoog de grootte van de h2 */
    h2 {
        font-size: 32px; /* Verhoog de lettergrootte van h2 met 100px */
    }

    /* Verhoog de grootte van de p */
    .productDesc {
        font-size: 26px; /* Verhoog de lettergrootte van p met 100px */
    }

   
    
    
}

/* Responsive aanpassingen alleen voor telefoonformaat */
@media screen and (max-width: 768px) {
    /* De "Choose your color" sectie op dezelfde hoogte als de knop plaatsen, met 20px extra in de x-richting */
    .colour-select {
        position: absolute;
        top: calc(40% + 400px); /* Plaats de sectie op dezelfde hoogte als de knop, maar 400px naar beneden */
        left: calc(10% + 200px); /* Voeg 20px extra toe aan de linkerpositie vanaf de linkerkant van het scherm */
        transform: translateY(-50%); /* Om het exact in het midden te positioneren verticaal */
        width: 350px;
        height: 350px;
    }

    /* De afbeelding verkleinen zodat hij volledig op het scherm past op een telefoon */
    .productImg {
        max-width: 85%;
        height: auto;
    }
    .productButton {
        margin-left: 50px;
    }

    /* H1 marge aanpassen voor betere uitlijning */
    .productDetails h1 {
        margin-top: 80px;
    }
}


















