
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:ghostwhite;
}

.a_li {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: rgb(9, 9, 9);
    text-decoration: none;
    color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #467255;
}

.logo {
    cursor: pointer;
    font-size: 45px;
}

.logo a {
    font-family: "Amaranth", cursive;
    color: whitesmoke;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    margin-left: 60px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    background-color: rgba(161, 235, 162, 0.845);
    padding: 15px;
    border-radius: 5%;
}

.menu-icon {
    display: none; /* Hide the menu icon by default */
    cursor: pointer;
}

.menu-icon__line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: whitesmoke;
    transition: all 0.3s ease-in-out;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .nav__links {
        display: none; 
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #467255;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .nav__links.show {
        display: flex; 
    }

    .menu-icon {
        display: block; 
    }

    .nav__links li {
        margin-bottom: 25px; 
    }
}

.banner {
    position: relative;
}

.fotobanner {
    width: 100%;
    height: 750px;
    object-fit: cover;
}



/*ELLA*/
/*body {
    
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}
*/

a{
    
    color: black;
    text-decoration: none;
}
.buyButton{
    top: 50%;
    left: 10%;
    font-size: 30px;
    font-weight: 900;
    color: rgb(10, 87, 6);
    border: 1px solid gray;
    background-color:rgb(237, 234, 234); 
    z-index: 1;
    cursor: pointer;
    
}

.buyButton.buyButton:hover{
    background-color: rgb(132, 176, 138);
    color: rgb(10, 87, 6);
}


.sliderRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sliderWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Hiermee worden de items verdeeld in rijen van minimaal 45% breedte, maar zich aanpassend aan de beschikbare ruimte */
    grid-gap: 20px; /* Ruimte tussen de grid-items */
}

.sliderItem {
    text-align: center;
    margin-bottom: 20px;
}

.sliderImg {
    max-width: 80%;
    height: auto;
    width: 100%; /* Afbeeldingen worden 100% breedte van hun container */
    object-fit: cover; /* Behoudt de aspect ratio en zorgt ervoor dat de afbeelding het hele gebied vult */
}

.sliderTitel {
    font-size: 16px;
    margin-top: 10px;
}

.sliderPrice {
    font-size: 14px;
    margin-top: 5px;
}

.product{
    height: 100vh;
    position: relative;
 }
 .productDetails{
    position: absolute;
    padding: 50px;
 }
 .productButton{
    top: 50%;
    left: 10%;
    font-size: 30px;
    font-weight: 900;
    color: rgb(10, 87, 6);
    border: 1px solid gray;
    background-color:rgb(237, 234, 234); 
    z-index: 1;
    cursor: pointer;
    
    
    
 }
 .productButton:hover{
    background-color: rgb(132, 176, 138);
    color: rgb(10, 87, 6);
 }
 .productDesc{
    color: grey;
   
 }
 
 .productImg{
    padding: 50px;
    
 }



 @media screen and (max-width: 768px) {
    .sliderItem {
        width: 100%; /* Elk item neemt de volledige breedte van de container in */
        margin-bottom: 20px; /* Voeg wat ruimte toe onder elk item */
    }

    .sliderWrapper {
        display: flex;
        flex-direction: column; /* Verander de richting naar kolom voor kleinere schermen */
        align-items: center; /* Centreer de items in de kolom */
    }

    .sliderItem .sliderImg {
        max-width: 100%; /* Afbeeldingen worden 100% breedte van hun container */
    }
}


@media screen and (max-width: 768px) {
    .productImg {
        max-width: 100%; /* Afbeelding neemt de volledige breedte van de container in */
        height: auto; /* Zorgt ervoor dat de hoogte automatisch wordt aangepast om de verhoudingen te behouden */
        padding: 10px; /* Verminder de padding van de afbeelding */
    }

    .productDetails {
        padding: 10px; /* Verminder de padding van de productdetails */
    }

    .productButton {
        font-size: 16px; /* Verklein de lettergrootte van de knop voor kleinere schermen */
        margin-left: 10px; /* Verplaats de knop iets meer naar rechts */
    }
}

/*ELLA end*/

.overzicht1 {
    margin-top: 250px;
    margin-bottom: 200px;
    display: flex;
    align-items: center; /* Verticale uitlijning van tekst en afbeelding */
}

.text1 {
    flex: 1; /* Neemt flexibel ruimte in binnen de sectie */
    margin-left: 210px;
    padding-right: 130px;
}

.overzichtpic1 {
    flex: 1; /* Neemt flexibel ruimte in binnen de sectie */
    height: 450px; /* Aangepaste hoogte van de afbeelding */
    margin-right: 200px;
}

.samen_naar {
    margin-top: 40px; /* Meer ruimte boven de titel */
    margin-bottom: 30px;
    font-family: "Amaranth", cursive;
    color: #467255;
    font-size: 50px;
}

.aboutus_ov {
    margin-top: 20px; /* Meer ruimte onder de titel */
    font-family: "Quicksand" , sans-serif , bold;
    font-size: 25px;
    font-weight: 500;
}

.button1_readmore {
    margin-top: 40px; /* Meer ruimte tussen tekst en knop */
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    background-color:#467255;
    color: aliceblue;
    border:none;
}

.link1_readmore {
    color:aliceblue;
    font-family: "Quicksand", bold;
}

/* Media query voor tabletweergave */
@media screen and (max-width: 768px) {
    .overzicht1 {
        flex-direction: column; /* Stel verticale weergave in */
        text-align: center; /* Centreer de tekst en de afbeelding */
    }

    .text1 {
        margin-left: 50px; /* Verwijder de linkermarge */
        padding-right: 50px; /* Verwijder de rechtervulling */
    }

    .overzichtpic1 {
        width: 500px;
        height: 300px;
        margin-right: 50px; /* Verwijder de rechtermarge */
        margin-left: 50px;
        margin-bottom: 20px; /* Voeg ruimte toe onder de afbeelding */
        margin-top: 50px;
    }
}

/* Media query voor GSM-weergave */
@media screen and (max-width: 480px) {

    .text1 {
        padding: 0 20px; /* Voeg ruimte toe aan beide zijden van de tekst */
        margin-left: 20px;
        margin-right: 20px;
    }

    .overzichtpic1 {
        height: auto; /* Verwijder de vaste hoogte en laat de hoogte zich aanpassen aan de breedte */
        width: 300px;
        padding-right: 0px;
        margin-bottom: 20px; /* Voeg ruimte toe onder de afbeelding */
    }

    .samen_naar {
        font-size: 40px; /* Verminder de grootte van de titel voor GSM */
    }

    .aboutus_ov {
        font-size: 20px; /* Verminder de grootte van de tekst voor GSM */
    }

    .button1_readmore {
        margin-top: 30px; /* Verminder de ruimte tussen tekst en knop voor GSM */
        font-size: 16px; /* Verminder de grootte van de knop voor GSM */
    }
}

#imageSlider {
    width: 800px;
    max-height: 600px;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 60px;
    margin-top:110px;
    border: 15px solid #467255;
}

.slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.imgslider {
    flex: 0 0 100%;
    width: 800px;
    height: 600px;
    margin-bottom: 100px;
}

    .homebutton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    background-color: #467255;
    color: aliceblue;
    border:none;
  
}

 #prevBtn{
    left: 10px;
}

  #nextBtn {
    right: 10px;
}

.text2 {
    flex: 1; /* Neemt flexibel ruimte in binnen de sectie */
    margin-left: 210px;
    padding-right: 130px;
}

.ons_aanbod {
    margin-top: 40px; /* Meer ruimte boven de titel */
    margin-bottom: 40px;
    font-family: "Amaranth", cursive;
    color: #467255;
    font-size: 50px;
}

.products_ov {
    margin-top: 20px; /* Meer ruimte onder de titel */
    font-family: "Quicksand" , sans-serif , bold;
    font-size: 25px;
    font-weight: 500;
}

.shopnow {
    /*position: absolute;*/
    top: 50%;
    margin-top: 100px;
    margin-left: 650px;
    transform: translateY(-50%);
    font-size: 23px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    background-color:#467255;
    color: aliceblue;
    border:none;
  
}

/* Media query voor tabletweergave */
@media screen and (max-width: 768px) {
    #imageSlider {
        width: 90%; /* Pas de breedte aan */
        margin-top: 50px; /* Pas de bovenmarge aan */
        margin-bottom: 30px; /* Pas de ondermarge aan */
    }

    .imgslider {
        width: 100%; /* Afbeeldingen worden 100% breedte */
        height: auto; /* Behoudt de aspect ratio */
        margin-bottom: 0; /* Verwijder de ondermarge */
    }

    .homebutton {
        font-size: 16px; /* Verklein de lettergrootte */
        padding: 8px; /* Verklein de padding */
        margin-left: 10px; /* Voeg een beetje ruimte toe aan de linkerkant */
    }

    .text2 {
        margin-left: 0; /* Verwijder de linkermarge */
        padding-right: 0; /* Verwijder de rechtervulling */
        text-align: center; /* Centreer de tekst */
    }

    .shopnow {
        margin-left: 0; /* Verwijder de linkermarge */
        margin-top: 30px; /* Pas de bovenmarge aan */
        transform: none; /* Verwijder de verticale transformatie */
    }
}

/* Media query voor GSM-weergave */
@media screen and (max-width: 480px) {
    #imageSlider {
        margin-top: 30px; /* Pas de bovenmarge aan */
        margin-bottom: 20px; /* Pas de ondermarge aan */
         margin-left: 20px;
        margin-right: 20px;
    }

    .imgslider {
        margin-bottom: 0; /* Verwijder de ondermarge */
    }

    .homebutton {
        font-size: 14px; /* Verklein de lettergrootte */
        padding: 6px; /* Verklein de padding */
        margin-left: 5px; /* Voeg een beetje ruimte toe aan de linkerkant */
    }

    .text2 {
        text-align: center; /* Centreer de tekst */
        padding: 0 20px; /* Voeg ruimte toe aan beide zijden van de tekst */
        margin-left: 20px;
        margin-right: 20px;
        
    }

    .shopnow {
        margin-top: 20px; /* Pas de bovenmarge aan */
        transform: none; /* Verwijder de verticale transformatie */
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

