body {
    font-family: 'lato', sans-serif;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

a{
    
    color: black;
    text-decoration: none;
}
.buyButton{
    top: 50%;
    left: 10%;
    font-size: 30px;
    font-weight: 900;
    color: rgb(10, 87, 6);
    border: 1px solid gray;
    z-index: 1;
    cursor: pointer;
    
}

.buyButton.buyButton:hover{
    background-color: rgb(132, 176, 138);
    color: rgb(10, 87, 6);
}




.sliderRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sliderWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Hiermee worden de items verdeeld in rijen van minimaal 45% breedte, maar zich aanpassend aan de beschikbare ruimte */
    grid-gap: 20px; /* Ruimte tussen de grid-items */
}

.sliderItem {
    text-align: center;
    margin-bottom: 20px;
}

.sliderImg {
    max-width: 100%;
    height: auto;
    width: 100%; /* Afbeeldingen worden 100% breedte van hun container */
    object-fit: cover; /* Behoudt de aspect ratio en zorgt ervoor dat de afbeelding het hele gebied vult */
}

.sliderTitel {
    font-size: 16px;
    margin-top: 10px;
}

.sliderPrice {
    font-size: 14px;
    margin-top: 5px;
}

.product{
    height: 100vh;
    position: relative;
 }
 .productDetails{
    position: absolute;
    padding: 50px;
 }
 .productButton{
    top: 50%;
    left: 10%;
    font-size: 30px;
    font-weight: 900;
    color: rgb(168, 27, 27);
    border: 1px solid gray;
    z-index: 1;
    cursor: pointer;
    
    
 }
 .productButton:hover{
    background-color: rgb(174, 98, 98);
    color: rgb(168, 27, 27);
 }
 .productDesc{
    color: grey;
   
 }
 
 .productImg{
    padding: 50px;
 }