body {
    font-family: 'lato', sans-serif;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

a{
    
    color: black;
    text-decoration: none;
}
.buyButton{
    top: 50%;
    left: 10%;
    font-size: 30px;
    font-weight: 900;
    color: rgb(10, 87, 6);
    border: 1px solid gray;
    background-color:rgb(237, 234, 234); 
    z-index: 1;
    cursor: pointer;
    
}

.buyButton.buyButton:hover{
    background-color: rgb(132, 176, 138);
    color: rgb(10, 87, 6);
}




.sliderRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sliderWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Hiermee worden de items verdeeld in rijen van minimaal 45% breedte, maar zich aanpassend aan de beschikbare ruimte */
    grid-gap: 20px; /* Ruimte tussen de grid-items */
}

.sliderItem {
    text-align: center;
    margin-bottom: 20px;
}

.sliderImg {
    max-width: 80%;
    height: auto;
    width: 100%; /* Afbeeldingen worden 100% breedte van hun container */
    object-fit: cover; /* Behoudt de aspect ratio en zorgt ervoor dat de afbeelding het hele gebied vult */
}

.sliderTitel {
    font-size: 16px;
    margin-top: 10px;
}

.sliderPrice {
    font-size: 14px;
    margin-top: 5px;
}

.product{
    height: 100vh;
    position: relative;
 }
 .productDetails{
    position: absolute;
    padding: 50px;
 }
 .productButton{
    top: 50%;
    left: 10%;
    font-size: 30px;
    font-weight: 900;
    color: rgb(10, 87, 6);
    border: 1px solid gray;
    background-color:rgb(237, 234, 234); 
    z-index: 1;
    cursor: pointer;
    
    
    
 }
 .productButton:hover{
    background-color: rgb(132, 176, 138);
    color: rgb(10, 87, 6);
 }
 .productDesc{
    color: grey;
   
 }
 
 .productImg{
    padding: 50px;
    
 }



 @media screen and (max-width: 768px) {
    .sliderItem {
        width: 100%; /* Elk item neemt de volledige breedte van de container in */
        margin-bottom: 20px; /* Voeg wat ruimte toe onder elk item */
    }

    .sliderWrapper {
        display: flex;
        flex-direction: column; /* Verander de richting naar kolom voor kleinere schermen */
        align-items: center; /* Centreer de items in de kolom */
    }

    .sliderItem .sliderImg {
        max-width: 100%; /* Afbeeldingen worden 100% breedte van hun container */
    }
}


@media screen and (max-width: 768px) {
    .productImg {
        max-width: 100%; /* Afbeelding neemt de volledige breedte van de container in */
        height: auto; /* Zorgt ervoor dat de hoogte automatisch wordt aangepast om de verhoudingen te behouden */
        padding: 10px; /* Verminder de padding van de afbeelding */
    }

    .productDetails {
        padding: 10px; /* Verminder de padding van de productdetails */
    }

    .productButton {
        font-size: 16px; /* Verklein de lettergrootte van de knop voor kleinere schermen */
        margin-left: 10px; /* Verplaats de knop iets meer naar rechts */
    }
}
